html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

ul{
	display: table;
	margin: 0 auto;
}

#header{
	text-align: center;
	background-color: #282828;
	color: white;
	border-bottom: 5px solid #00aef0;
}

#content{
    background-color: white;
    overflow: hidden;

    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

#about{
	text-align: center;	
}

.carousel-text{
	padding: 1%;
	height: 240px;
}

.modules{
	text-align: center;
}

.container-fluid .modules{
	width: 60%;
}

.container-fluid .main-btn{
    padding-right: 10%;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.card-deck{
	padding: 2%;
}

.main-btn{
    display: flex;
}

.main-btn .btn{
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #00aef0;
    color: white;
}

.alt-btn .btn{
    width: 31%;
    background-color: #00aef0;
    color: white;
    margin-top: 0.5em ;
    margin-bottom: 0.5em;
}

.btn-group .btn{
	outline-color: #00aef0;
	background-color: #00aef0;
    color: white;
    margin-top: 0.5em;
}


.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
	 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

